<!DOCTYPE html>
<haed>
  <title>在线编译</title>
</haed>

<body>
  <h1>CPU测试点在线编译</h1>
  <div>您可以借此生成自定义测试点</div>

  <form
    action="{{ rooturi }}/submit"
    method="post"
    enctype="multipart/form-data"
  >
    <fieldset>
      <legend>上传文件</legend>
      <input type="file" name="srcfile" accept=".S,.c,.cpp" required />
    </fieldset>

    <br />

    <fieldset>
      <legend>选择架构 (march)</legend>
      {% for v in const.ACCEPTED_MARCH %}
      <label>
        <input type="radio" name="march" value="{{ v }}" required {{ "checked"
        if v == "rv32ic" else "" }} /> {{ v }}
      </label>
      {% endfor %}
    </fieldset>

    <br />

    <fieldset>
      <legend>选择目标平台 (target)</legend>
      <label>
        <input type="radio" name="target" value="fpga" required />
        FPGA
      </label>

      <label>
        <input type="radio" name="target" value="sim" required checked />
        SIM
      </label>
    </fieldset>

    <br />

    <fieldset>
      <legend>选择优化等级 (O)</legend>
      {% for v in const.ACCEPTED_OPT_LEVELS %}
      <label>
        <input type="radio" name="opt_level" value="{{ v }}" required {{
        "checked" if v == "2" else "" }} /> {{ v }}
      </label>
      {% endfor %}
    </fieldset>

    <br />

    <button type="submit">提交</button>
  </form>
</body>
