<!DOCTYPE html>
<title>在线编译</title>

<body>
	<h1>CPU测试点在线编译</h1>
	<div>您可以借此生成自定义测试点</div>
	<form method=post enctype=multipart/form-data>
		<input type=file name=srcfile>
		<input type=submit value=上传>
	</form>

	{% if data and dump %}
	<h1>编译结果</h1>
	<h2>data</h2>
	<button onclick="copy('#data-text')">复制</button>
	<details>
		<summary>点击查看</summary>
		<pre id="data-text">{{ data }}</pre>
	</details>
	<h2>dump</h2>
	<button onclick="copy('#dump-text')">复制</button>
	<details>
		<summary>点击查看</summary>
		<pre id="dump-text">{{ dump }}</pre>
	</details>
	{% endif %}
	<script>
		function copy(id) {
			navigator.clipboard.writeText(
				document.querySelector(id).innerText
			)
				.then(() => { alert("复制成功"); });
		}
	</script>
</body>